In [1]:
#1.Implement Exploratory Data Analysis on any data set.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.DataFrame({
    'UID':["20BCS4919","20BCS5650","20BCS5660","20BCS5670","20BCS5680","20BCS5690","20BCS5700","20BCS5701","20BCS5702","20BCS5703"],
    'NAME':["SAHUL KUMAR","RAM KUMAR","RAJAT KUMAR","ROHAN KUMAR","KARAN KUMAR","PREM KUMAR","ROBIN KUMAR","GAURAV KUMAR","SHIVAM KUMAR","DEVDAS KUMAR",],
    'SECTION':["A","B","C","D","E","F","G","H","I","J"]
})

In [3]:
df['UID']

0    20BCS4919
1    20BCS5650
2    20BCS5660
3    20BCS5670
4    20BCS5680
5    20BCS5690
6    20BCS5700
7    20BCS5701
8    20BCS5702
9    20BCS5703
Name: UID, dtype: object

In [4]:
df.iloc[1,0]

'20BCS5650'

In [7]:
df.iloc[0:2,0]

0    20BCS4919
1    20BCS5650
Name: UID, dtype: object

In [8]:
df.iloc[0:2,0:2]

         UID         NAME
0  20BCS4919  SAHUL KUMAR
1  20BCS5650    RAM KUMAR

In [9]:
df.iloc[:1,0:2]

         UID         NAME
0  20BCS4919  SAHUL KUMAR

In [10]:
df.loc[1:,"NAME"]

1       RAM KUMAR
2     RAJAT KUMAR
3     ROHAN KUMAR
4     KARAN KUMAR
5      PREM KUMAR
6     ROBIN KUMAR
7    GAURAV KUMAR
8    SHIVAM KUMAR
9    DEVDAS KUMAR
Name: NAME, dtype: object

In [11]:
df.shape

(10, 3)

In [12]:
type(df.shape)

tuple